body {
    background-image: url(images/PngBackground.com_488_1080x1348.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.searchbar input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    width: 300px;
    height: 30px;
    margin: 10px;
}

.searchbar input::placeholder {
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}

.searchbar button {
    padding: 7px 17px;
    border-radius: 5px;
    background-color: rgb(156, 60, 247);
    color: #fff;
    font-size: 16px;
}

/* content */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.content div {
    margin: 45px;
    color: red;
    font-weight: 900;
    font-size: 35px;
}

span {
    padding: 0 50px;
}

@media screen and (max-width: 600px) {
    .content div {
      font-size: 15px;
    }
  }